* {
  margin: 0;
  padding: 0;
}
:root {
  --green: #748873;
  --soft-green: #a1bc98;
  --beige: #d1a980;
  --gray: #e5e0d8;
  --white: #f8f8f8;
}
body {
  font-family: "Montserrat";
  background-color: var(--beige);
  text-align: center;
}
main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  color: #f1f3e0;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmin;
  justify-content: center;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: var(--gray);
  background-color: var(--green);
  transition: 0.1s ease-in-out;
}
#reset {
  padding: 1rem;
  font-size: 1.25rem;
  background: var(--green);
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.1s linear;
}
#reset:hover {
  background-color: var(--soft-green);
  /* color: black; */
  scale: 1.1;
}
.box:hover {
  background-color: var(--soft-green);
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: var(--green);
  color: white;
  border-radius: 1rem;
  border: none;
}
#msg {
  font-size: 8vmin;
  display: none;
}
.msg-container {
  height: 30vmin;
}
.hide {
  display: none;
}
